# 设置 Electron 二进制下载镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# 如果使用 electron-builder 打包，需额外配置其工具链镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 建议同时锁定 registry 确保速度
registry=https://registry.npmmirror.com